
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    var ListFeatureProduct = (List<Model1.EF.Product>)ViewBag.ListFeatureProducts;
}
<style>

</style>
<div class="container__product-item">
    <div class="grid wide">
        <div class="row">
            <div class="product col-md-4 mb-3 l-4 wow fadeInUp" data-wow-delay="0.5s">
                <!-- Product item -->
                <a href="/Trade/Index" class="home-product-item">
                    <div class="home-product-item__img">
                        <img src="~/Assets/client/images/icon_product1.png" alt="">
                    </div>
                    <div class="home-product-item__content">
                        <h4 class="home-product-item__name">Sofa</h4>
                        <p>The old sofa is a little peeling but still does not affect the appearance</p>
                    </div>
                </a>
            </div>
            <div class="product col-md-4 mb-3 l-4 wow fadeInUp" data-wow-delay="0.5s">
                <!-- Product item -->
                <a href="/Trade/Index" class="home-product-item">
                    <div class="home-product-item__img">
                        <img src="~/Assets/client/images/icon_product2.png" alt="">
                    </div>
                    <div class="home-product-item__content">
                        <h4 class="home-product-item__name">Desk lamp</h4>
                        <p>study lights Compact, just enough light</p>
                    </div>
                </a>
            </div>
            <div class="product col-md-4 mb-3 l-4 wow fadeInUp" data-wow-delay="0.5s">
                <!-- Product item -->
                <a href="/Trade/Index" class="home-product-item">
                    <div class="home-product-item__img">
                        <img src="~/Assets/client/images/icon_product3.png" alt="">
                    </div>
                    <div class="home-product-item__content">
                        <h4 class="home-product-item__name">Wood cabinets</h4>
                        <p>Wooden cabinet with many useful compartments</p>
                    </div>
                </a>
            </div>
            <div class="product col-md-4 mb-3 l-4 wow fadeInUp" data-wow-delay="0.5s">
                <!-- Product item -->
                <a href="/Trade/Index" class="home-product-item">
                    <div class="home-product-item__img">
                        <img src="~/Assets/client/images/icon_product4.png" alt="">
                    </div>
                    <div class="home-product-item__content">
                        <h4 class="home-product-item__name">Bathtub</h4>
                        <p>Comfortable bathtub suitable for many types of homes</p>
                    </div>
                </a>
            </div>
            <div class="product col-md-4 mb-3 l-4 wow fadeInUp" data-wow-delay="0.5s">
                <!-- Product item -->
                <a href="/Trade/Index" class="home-product-item">
                    <div class="home-product-item__img">
                        <img src="~/Assets/client/images/icon_product5.png" alt="">
                    </div>
                    <div class="home-product-item__content">
                        <h4 class="home-product-item__name">Electronic device</h4>
                        <p>Electronic equipment of many kinds, although used, is still quite new</p>
                    </div>
                </a>
            </div>
            <div class="product col-md-4 mb-3 l-4 wow fadeInUp" data-wow-delay="0.5s">
                <!-- Product item -->
                <a href="/Trade/Index" class="home-product-item">
                    <div class="home-product-item__img">
                        <img src="~/Assets/client/images/icon_product6.png" alt="">
                    </div>
                    <div class="home-product-item__content">
                        <h4 class="home-product-item__name">Bed</h4>
                        <p>Many types of beds are used but still new</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

   

